<%namespace name='static' file='static_content.html'/>
<style>
.button {
    background-color: #0075b4;
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 400;

}

.button:hover {
    background-color: white;
    color: #0075b4;
    border: 1px solid #0075b4;
}
</style>

    <p style="text-align: center; margin-top: 200px;">
    To continue logout click on confirm logout

        <br/>
        <br/>
        <a class="button" href="http://localhost:18000/logout">
            Confirm Logout
        </a>
    </p>

<nav class="nav-links">
  <div class="secondary">
    <div>

          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="register-btn btn" href="">Register</a>
          </div>

          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="sign-in-btn btn" href="">Sign in</a>
          </div>

    </div>
  </div>
</nav>
